#STRING

In [1]:
#String Creation
# all of the following are equivalent
my_string = 'hello python'
my_string

'hello python'

In [4]:
# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python

In [34]:

my_str="Hello india"

In [35]:
#slicing
my_str[2:5]   #[start : end]

'llo'

In [36]:
#last character
my_str[2:]

'llo india'

In [37]:
#Trying to access a character out of index range will raise an IndexError.
my_str[3]

'l'

In [38]:
#We can't use float or other types, this will result into TypeError.
my_str[1:3]

'el'

# Important String Methods

In [13]:
#1-capitalize()-returns a copy of the string with only its first character capitalized.
str1 = "welcome to Python"

In [14]:
#2-count()- returns the number of occurrences of substring sub in the range [sub,start, end]
str1.count('o')

3

In [15]:
#3-endswith()-returns True if the string ends with the specified suffix, otherwise return False inthe range [suffix,start, end]
str1.startswith('elc')

False

In [16]:
str1.endswith('hon')

True

In [17]:
#4-find()-It determines if string str occurs in string, or in a substring of string if starting index beg and ending index end are given.
#[str,beg,end]
#return Index if found and -1 otherwise.
str1.find('o')

4

In [18]:
str1.index("o")

4

In [19]:
str1.find('z')

-1

In [20]:
#5-isalpha()- checks whether the string consists of alphabetic characters only.
str1.isalpha()

False

In [21]:
x='1234a'

In [22]:
x.isnumeric()

False

In [23]:
#6-islower()-checks whether all the case-based characters (letters) of the string are lowercase.
x.islower()

True

In [24]:
x.islower()

True

In [25]:
y='p'

In [26]:
y.isupper()

False

In [27]:
#7-isnumeric() checks whether the string consists of only numeric characters. 
str1.isnumeric()

False

In [28]:
z='12a3'

In [29]:
z.isnumeric()

False

In [30]:
#8-isupper()-checks whether all the letters of the string are uppercase.
str1.isupper()

False

In [16]:
z='Hello maharashtra!'

In [17]:
z

'Hello maharashtra!'

In [18]:
z.isupper()

False

In [19]:
c='PYTHON'

In [20]:
c

'PYTHON'

In [36]:
c.isupper()

True

In [37]:
#9-join()-returns a string in which the string elements of sequence have been joined by str separator.
s = "-";
seq = ("a", "b", "c");

In [38]:
s.join(seq)

'a-b-c'

In [40]:
#10-len()-returns the length of the string.
len(my_str)

10

In [41]:
x

'1234a'

In [42]:
str1

'welcome to Python'

In [43]:
#11-lower()-returns a copy of the string in which all case-based characters have been lowercased.
str1.upper()

'WELCOME TO PYTHON'

In [44]:
x="PYThon"

In [45]:
x.lower()

'python'

In [46]:
#12-lstrip() returns a copy of the string in which all chars have been stripped from the beginning of the string (default whitespace characters).
str5= "jjjkjjmjjjjjjkjjjjjmjjjjkjjjjjjjkjjjjthis is string example....wow!!!     "

In [47]:
str5.lstrip("mjk")

'this is string example....wow!!!     '

In [48]:
len(str1)

17

In [49]:
#13-rstrip() returns a copy of the string in which all chars have been stripped from the end of the string (default whitespace characters).
str2 = "88888888this is string example....wow!!!8888888888888888888888888888888888888888888888888888888888"

In [50]:
a=str2.rstrip('8')
a

'88888888this is string example....wow!!!'

In [51]:
str2

'88888888this is string example....wow!!!8888888888888888888888888888888888888888888888888888888888'

In [52]:
z="hi Python"
z

'hi Python'

In [32]:
#14-replace() returns a copy of the string in which the occurrences of old have been replaced with new
z.replace('Python','SM')

'Hello maharashtra!'

In [21]:
#15- split() returns a list of all the words in the string, using str as the separator 
str1 = "sm18@gmail.com"

In [22]:
str1.split("@")[1]

'gmail.com'

In [23]:
str1[4:]

'@gmail.com'

In [24]:
str1.split('@')

['sm18', 'gmail.com']

In [25]:
str1.split(' ',0)

['sm18@gmail.com']

In [26]:
str1.startswith('Python')

False

In [27]:
#18-upper() returns a copy of the string in which all case-based characters have been uppercased.
str="python"
str.upper()

'PYTHON'

In [28]:
x='PY'

In [29]:
x.lower()

'py'