# List creation

In [1]:
#List creation #index 0 to 5
A=["apple", "banana", "cherry",2,10,2.9]

In [4]:
#start : ends+1 :steps
A[1:6:2] #step 2

['banana', 2, 2.9]

In [5]:
# empty list
my_list = []

In [6]:
type(my_list)

list

In [7]:
# list of integers
my_list = [1, 2, 3]

In [8]:
my_list

[1, 2, 3]

In [9]:
# list with mixed datatypes
my_list = ["1", "Hello", 3.4]

In [10]:
my_list

['1', 'Hello', 3.4]

In [11]:
# nested list
my_list = ["mouse", [8, 4, 6], 'a']

In [12]:
len(my_list)

3

# Accesing the items

In [17]:
#Accesing the items
#You access the list items by referring to the index number
A[4]

10

In [18]:
my_list = ['p','r','o','b','e',24,3,42]

In [19]:
len(my_list)

8

In [20]:
my_list

['p', 'r', 'o', 'b', 'e', 24, 3, 42]

In [21]:
my_list[-2]+my_list[-3]

27

In [23]:
#start:end+1
my_list[:5]

['p', 'r', 'o', 'b', 'e']

In [1]:
#Error! Only integer can be used for indexing
my_list[4.0]

NameError: name 'my_list' is not defined

In [26]:
# Nested List
n_list = ["Happy",[1,2,3,[[[1],"3"],100]]]

In [27]:
n_list[1][3][0][1]
n_list[1][3][0][0][0]

1

In [29]:
#Negative Indexing-Python allows negative indexing for its sequences. 
#The index of -1 refers to the last item, -2 to the second last item and so on.
my_list = ['p','r','o','b','e']

In [30]:
my_list

['p', 'r', 'o', 'b', 'e']

In [31]:
print(my_list[-1])

e

In [33]:
print(my_list[-5])

p

In [34]:
#Slicing-We can access a range of items in a list by using the slicing operator (colon).
my_list = ['p','r','o','g','r','a','m','i','z']

In [35]:
len(my_list )

9

In [36]:
# elements  #start : include #end:exclude  
my_list[2:6]   #start : end

['o', 'g', 'r', 'a']

In [37]:
# elements beginning to 4th
print(my_list[:-5])

['p', 'r', 'o', 'g']

In [38]:
# elements 6th to end
print(my_list[5:])

['a', 'm', 'i', 'z']

In [39]:
# elements beginning to end
print(my_list[:])

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [41]:
#Change the item value
#To change the value of a specific item, refer to the index number
A[1] = "blackcurrant"

In [45]:
#1-append()-appends an element to the end of the list.

fruits = ['apple', 'banana', 'cherry', 'orange',"cherry"]

In [47]:
fruits.append("mango")
fruits

['apple', 'banana', 'cherry', 'orange', 'cherry', 'Swapnil', 'mango']

In [48]:
#2-clear()-removes all the elements from a list
fruits.clear()

In [49]:
fruits

[]

In [50]:
del fruits

In [2]:
fruits

NameError: name 'fruits' is not defined

In [52]:
#3-copy()-returns a copy of the specified list
fruits = ['apple', 'banana', 'cherry', 'orange',"cherry"]

In [53]:
fruits1=fruits.copy()
fruits1

['apple', 'banana', 'cherry', 'orange', 'cherry']

In [54]:
#4-count()-returns the number of elements with the specified value
fruits.count("banana")

1

In [55]:
#5-extend()-adds the specified list elements (or any iterable) to the end of the current list
cars = ['Ford', 'BMW', 'Volvo']
fruits.append(cars)
fruits

['apple', 'banana', 'cherry', 'orange', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [56]:
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'cherry', ['Ford', 'BMW', 'Volvo'], 'Ford', 'BMW', 'Volvo']

In [57]:
#6-index()-returns the position at the first occurrence of the specified value
fruits.index("cherry")

2

In [58]:
#7-insert()-inserts the specified value at the specified position
fruits.insert(1,"ICE") #position , Value

In [59]:
print(fruits)

['apple', 'ICE', 'banana', 'cherry', 'orange', 'cherry', ['Ford', 'BMW', 'Volvo'], 'Ford', 'BMW', 'Volvo']

In [60]:
#8-pop()-removes the element at the specified position
fruits.pop(1)

'ICE'

In [61]:
fruits

['apple',
 'banana',
 'cherry',
 'orange',
 'cherry',
 ['Ford', 'BMW', 'Volvo'],
 'Ford',
 'BMW',
 'Volvo']

In [62]:
#9-remove()-removes the 1st elemant specified item
thislist = ["apple", "banana", "cherry"]

In [63]:
thislist

['apple', 'banana', 'cherry']

In [64]:
thislist.remove("cherry")

In [65]:
thislist

['apple', 'banana']

In [66]:
#9-reverse()-reverses the sorting order of the elements
a=[1,5,6,4,2,4,6]
a.reverse()

In [67]:
a

[6, 4, 2, 4, 6, 5, 1]

In [68]:
#10-sort()-sorts the list ascending by default
a.sort()

In [69]:
a

[1, 2, 4, 4, 5, 6, 6]