In [3]:
#Set creation
# set of integers
my_set = {1, 2, 3,3,3,4,3}
my_set

{1, 2, 3, 4}

In [19]:
type(my_set)

set

In [3]:
# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}

In [4]:
my_set

{(1, 2, 3), 1.0, 'Hello'}

In [20]:
# set do not have duplicates
my_set = {1,100,52,6,3,100,2,2,2,2,2,2,4,4,4}
my_set

{1, 2, 3, 4, 6, 52, 100}

In [26]:
my_set.add(500)
list(my_set)

[1, 2, 3, 500]

In [29]:
# we can make set from a list
my_set = [1,2,3,2]

In [28]:
my_set

{1, 2, 3}

In [9]:
#Creating empty set-Little but tricky
#Empty curly braces {} will make an empty dictionary in Python.
#Use set()function
# initialize a with {}
a = {}

In [10]:
a

{}

In [11]:
type(a)

dict

In [12]:
# initialize a with set()
a = set()

In [13]:
a

set()

In [14]:
type(a)

set

In [48]:
#Add item into set
#add()-To add one item to a set use the 
#update()-To add more than one item to a set
#The update() method can take tuples, lists, strings or other sets as its argument. 
#In all cases, duplicates are avoided.
# initialize my_set
my_set = {1,100,3,2,5,4}

In [49]:
my_set

{1, 2, 3, 4, 5, 100}

In [47]:
my_set.pop()
my_set

{4}

In [50]:
my_set.remove(100)

In [51]:
my_set

{1, 2, 3, 4, 5}

In [20]:
# add an element
my_set.add(6)

In [52]:
my_set

{1, 2, 3, 4, 5}

In [53]:
# add multiple elements
my_set.update([3,30,4,60])

In [54]:
my_set

{1, 2, 3, 4, 5, 30, 60}

In [24]:
# add list and set
my_set.update([4,5], {1,6,8})

In [25]:
my_set

{1, 2, 3, 4, 5, 6, 8}

# Python Set Operation

In [58]:
#Union-Union is performed using | operator.
# initialize A and B
A = {1, 2, 3}
B = {3,4, 5}

In [59]:
A.union(B)

{1, 2, 3, 4, 5, 6}

In [60]:
#Intersection-Intersection is performed using & operator.
# initialize A and B
A = {1, 2, 3, 4}
B = {3,4, 5, 6}

In [62]:
A.intersection(B)

{3, 4}

In [71]:
#Difference-performed using - operator.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8,9}

In [77]:
A-B

In [78]:
B

{6, 7, 8, 9}

In [79]:
A

{1, 2, 3, 4, 5}

In [80]:
#Symmetric Difference-Symmetric difference is performed using ^ operator.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [81]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [1]:
#1-Add()-adds an element to the set.
fruits = {"apple", "banana", "cherry"}

In [2]:
fruits

{'apple', 'banana', 'cherry'}

In [3]:
fruits.add(5)

In [4]:
fruits

{5, 'apple', 'banana', 'cherry'}

In [5]:
#2-clear()-removes all elements in a set.
fruits.clear()

In [6]:
fruits

set()

In [7]:
#3-copy()-copies the set.
fruits = {"apple", "banana", "cherry"}

In [8]:
x = fruits.copy()

In [9]:
x

{'apple', 'banana', 'cherry'}

In [10]:
#4-difference()-returns a set that contains the difference between two sets.
#returned set contains items that exist only in the first set, and not in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [11]:
z = x.difference(y)

In [12]:
z

{'banana', 'cherry'}

In [13]:
#5-difference_update()-removes the items that exist in both sets.
x.difference_update(y)

In [14]:
x

{'banana', 'cherry'}

In [15]:
#6-discard()-removes the specified item from the set.
#it will not raise an error if specified item does not exist
fruits.discard("banana")

In [16]:
fruits

{'apple', 'cherry'}

In [17]:
fruits.discard("banana")

In [18]:
fruits

{'apple', 'cherry'}

In [19]:
#7-intersection()-returns a set that contains the similarity between two or more sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [20]:
z = x.intersection(y)

In [21]:
z

{'apple'}

In [22]:
#8-intersection_update()-removes the items that is not present in both sets
x.intersection_update(y)

In [23]:
x

{'apple'}

In [24]:
#9-isdisjoint()-returns True if none of the items are present in both sets, otherwise it returns False.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

In [25]:
z = x.isdisjoint(y)

In [26]:
z

True

In [27]:
#10-issubset()-returns True if all items in the set exists in the specified set, otherwise it retuns False.

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

In [28]:
z = x.issubset(y)

In [29]:
z

True

In [30]:
#11-issuperset()-returns True if all items in the specified set exists in the original set, otherwise it retuns False.
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

In [31]:
z = x.issuperset(y)

In [32]:
z

True

In [33]:
#12-pop()-removes a random item from the set
fruits = {"apple", "banana", "cherry"}
fruits.pop()

'banana'

In [34]:
#13-remove()removes the specified element from the set.
#it will raise an error if the specified item does not exist
fruits.remove("banana")

KeyError: 'banana'

In [35]:
fruits

{'apple', 'cherry'}

In [36]:
fruits.remove("apple")

In [37]:
fruits

{'cherry'}

In [38]:
#14-symmetric_difference()-returns a set that contains all items from both set, but not the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [39]:
z = x.symmetric_difference(y)

In [40]:
z

{'banana', 'cherry', 'google', 'microsoft'}

In [41]:
#15-symmetric_difference_update() method updates the original set by removing items that are present in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [42]:
x.symmetric_difference_update(y)

In [43]:
x

{'banana', 'cherry', 'google', 'microsoft'}

In [44]:
#16-union()-returns a set that contains all items from the original set, and all items from the specified sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

In [45]:
z = x.union(y)

In [46]:
z

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [47]:
#17-update()-updates the current set, by adding items from another set.
#If an item is present in both sets, only one appearance of this item will be present in the updated set.
x.update(y)

In [48]:
x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}