In [1]:
#Creating dictionary
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'OnePlus'}
my_dict

{1: 'apple', 2: 'OnePlus'}

In [9]:
d={"name":["A","B","C","D"],"AGE":[24,25,24,23]}
d

{'name': ['A', 'B', 'C', 'D'], 'AGE': [24, 25, 24, 23]}

In [14]:
import pandas
pandas.DataFrame(d)

  name  AGE  marks
0    A   24     93
1    B   25     43
2    C   24     94
3    D   23     94

In [13]:
#Keys
d["marks"]=[93,43,94,94]

In [3]:
my_dict["frnd"]=["x","y","z"]

In [4]:
my_dict

{'name': ('A', 'B', 'C'),
 'Age': [24, 25, 26],
 'gander': ['m', 'f', 'f'],
 'Name1': ['x', 'y', 'x'],
 'frnd': ['x', 'y', 'z']}

In [9]:
#Values
my_dict.values()

dict_values([['A', 'B', 'C'], [24, 25, 26], ['m', 'f', 'f'], ['A', 'B', 'C']])

In [10]:
#Items
my_dict.items()

dict_items([('name', ['A', 'B', 'C']), ('Age', [24, 25, 26]), ('gander', ['m', 'f', 'f']), ('name1', ['A', 'B', 'C'])])

In [20]:
#add item
my_dict["Age"]=(20,20,20)

In [21]:
my_dict

{'name': ['A', 'B', 'C'],
 'Age': (20, 20, 20),
 'gander': ['m', 'f', 'f'],
 'name1': ['A', 'B', 'C']}

In [22]:
del my_dict["Age"]
my_dict

{'name': ['A', 'B', 'C'], 'gander': ['m', 'f', 'f'], 'name1': ['A', 'B', 'C']}

In [23]:
my_dict.clear()

In [24]:
my_dict

{}

In [25]:
# empty dictionary
my_dict

{}

In [26]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

In [27]:
my_dict

{'name': 'John', 1: [2, 4, 3]}

In [28]:
# using dict()
my_dict = dict({1:'apple', 2:'ball'})

In [29]:
my_dict

{1: 'apple', 2: 'ball'}

In [30]:
#Accessing elements from dictionary
my_dict = {'name':'Jack', 'age': 26}

In [31]:
my_dict

{'name': 'Jack', 'age': 26}

In [32]:
my_dict['name']

'Jack'

In [17]:
my_dict.get('age')

26

In [35]:
#Adding Itens to dictionary-We can add new items or change the value of existing items using assignment operator.
#If the key is already present, value gets updated, else a new key: value pair is added to the dictionary.
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [36]:
thisdict["color"] = "red"

In [37]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [40]:
#new dict
my_dict = {'name':'Jack', 'age': 26}

In [41]:
my_dict

{'name': 'Jack', 'age': 26}

In [42]:
# update value
my_dict['age'] = 27

In [43]:
my_dict

{'name': 'Jack', 'age': 27}

In [44]:
# add item
my_dict['address'] = 'Downtown'

In [45]:
my_dict

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [47]:
#del-to delete a perticular item
# delete a particular item
del my_dict["address"]

In [48]:
my_dict

{'name': 'Jack', 'age': 27}

In [1]:
#1-clear()-removes all the elements from a dictionary.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [2]:
car.get()

'Ford'

{'b': 'ford', 'r': 'ford', 'a': 'ford', 'n': 'ford', 'd': 'ford'}

In [68]:
#2-copy()-returns a copy of the specified dictionary.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [55]:
x = car.copy()

In [9]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [16]:
#3.Missing

In [3]:
#4 get
car.get("brand")

'Ford'

In [57]:
#5-items()-Returns a view object. 
#The view object contains the key-value pairs of the dictionary, as tuples in a list.
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [58]:
#6-keys()-return the keys of the dictionary, as a list.
car.keys()

dict_keys(['brand', 'model', 'year'])

In [60]:
#7-pop()-removes the specified item from the dictionary.
car.pop("model")

'Mustang'

In [62]:
car

{'brand': 'Ford', 'year': 1964}

In [63]:
#8-popitem()-removes the item that was last inserted into the dictionary. 
car.popitem()

('year', 1964)

In [59]:
car

{'brand': 'Ford', 'color': 'white'}

In [66]:
#10-update()-inserts the specified items to the dictionary.
car.update({"color": "Blue"})
car

{'brand': 'Ford', 'color': 'Blue'}

In [67]:
#11-values()-returns the values of the dictionary, as a list.
car.values()
car

{'brand': 'Ford', 'color': 'Blue'}